/*
color palette
#041421 dark teal
#042630 
#4c7273
#86b9b0
#d0d6d6 white
*/

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 5vh;
}

#logo {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.header-links {
    list-style: none;
    text-decoration: none;
    color: white;
}

.header ul {
    list-style: none;
    display: flex;
}

.header li a {
    list-style: none;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 0 2vh;
}

.text-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-body {
    background: linear-gradient(to bottom, #041421, #4c7273, #d0d6d6);
    /* background: linear-gradient(to bottom, black, #40209B, white);  */
    height: 100vh; 
    border-radius: 30px;
}

.first-body #intro {
    background: linear-gradient(rgb(90,91,102), rgb(255,254,254));
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 60px;
    font-size: 2.5em;
}

.about-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    color: white;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    padding-top: 1.5vw;
} 

#boxes-left {
    margin-top: 50px;
    border-radius: 30px;
    background-color: #042630;
    height: 50vh;
    max-width: 100%;
    width: 70%;
}

#boxes-right {
    margin-top: 50px;
    border-radius: 30px;
    background-color: #042630;
    height: 50vh;
    max-width: 100%;
    width: 70%;
}

.boxes-text {
    margin-top: 4vh;
    margin-bottom: 16px;
    height: 20%;
}

#oc-image {
    height: auto;
    display: block;
    width: 100%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: cover;
    height: 40vh;
    width: 100%;
}

#geisel-image {
    height: auto;
    display: block;
    width: 100%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: cover;
    width: 100%;
    height: 40vh;
}

#me {
    color: white;
    text-align: center;
    padding: 10vh;
    font-size: 1.5rem;
}

#about-me {
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1.1rem;
    padding-bottom: 10vh
}

#about-me p {
    transform: translateY(15px);
}

#portrait {
    height: auto;
    width: 100%;
    border-radius: 10px;
}

#projects {
    background: linear-gradient(to bottom, #041421, #4c7273, #d0d6d6);
    /* background: linear-gradient(to bottom, black, #40209B, white);  */
    border-radius: 30px;
}

#projects-title {
    background: linear-gradient(rgb(90,91,102), rgb(255,254,254));
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 1.5rem;
    padding: 10vh;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-bottom: 10vh;
    gap: 50px;
}

.projects-image {
    width: 60%;
    position: relative;
}

.projects-image img {
    height: auto;
    border-radius: 30px;
    width: 100%;
    display: block;
}

.projects-content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    opacity: 0;
    transition: 0.6s;
    border-radius: 30px;
    color: white;
    font-size: 1.1em;
}

.projects-content h3 {
    padding-bottom: 3vh;
}

.content-words {
    padding-left: 5vw;
    padding-right: 5vw;
}

.projects-content:hover {
    opacity: 1;
}

footer {
    text-align: center;
}

#footer-logo {
    height: auto;
    max-width: 100px;
    padding-top: 15vh;
    padding-bottom: 2vh;
}

.footer-links {
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 5vh;
}

footer p {
    color: white;
    padding-top: 3vh;
    padding-bottom: 15vh;
}

@media screen and (max-width: 900px) {
    .about-boxes {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding-left: 0%;
        padding-right: 0%;
        gap: 5vw;
    }

    .first-body {
        height: 153vh;
    }

    .projects-image {
        height: auto;
        width: 90%;
    }

    .projects-content {
        font-size: 10px;
    }

    #about-me {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
}

@media (max-width: 500px) {
    #logo {
        font-size: 20px;
    }

    .header-links {
        font-size: 13px;
    }

    .header li a {
        padding: 0 2px;
    }

    nav li ul {
        font-size: 10px;
    }

    .first-body h2 {
        font-size: 18px;
    }

    h1 {
        font-size: 4px;
    }

    .first-body {
        height: 140vh;
    }

    #me {
        padding: 5vh;
        font-size: 20px;
    }

    #about-me-text {
        font-size: 15px;
    }

    #boxes-left {
        width: 90%;
    }

    #boxes-right {
        width: 90%;
    }

    .boxes-text {
        height: 7vh;
    }

    #projects-title {
        padding: 5vh;
    }

    footer {
        font-size: 13px;
    }

    #footer-logo {
        padding-top: 10vh;
        height: auto;
        max-width: 75px;
    }

    footer p {
        padding-bottom: 10vh;
    }
}

@media (hover: none) {
    .projects-content::before {
        opacity: 0;
    }
}
