/*
color palette
#041421 dark teal
#042630 
#4c7273
#86b9b0
#d0d6d6 white
*/

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 4%;
}

#logo {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 2em;
}

#contact-me {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.header ul {
    list-style: none;
    display: flex;
}

.header li a {
    list-style: none;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 2vh;
    font-size: 1.2em;
}

.text-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-body {
    background: linear-gradient(to bottom, #041421, #4c7273, #d0d6d6);
    /* background: linear-gradient(to bottom, black, #40209B, white);  */
    height: 100vh; 
    border-radius: 30px;
}

.first-body .intro {
    background: linear-gradient(rgb(90,91,102), rgb(255,254,254));
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 60px;
    font-size: 2.5rem;
}

.about-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    color: white;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    padding-top: 1.5vw;
} 

#boxes-left {
    margin-top: 50px;
    border-radius: 30px;
    background-color: #042630;
    height: 50vh;
    max-width: 70%;
    width: 100%;
}

#boxes-right {
    margin-top: 50px;
    border-radius: 30px;
    background-color: #042630;
    height: 50vh;
    max-width: 70%;
    width: 100%;
}

.boxes-text {
    margin-top: 4vh;
    margin-bottom: 16px;
    height: 20%;
}

#oc-image {
    height: auto;
    display: block;
    width: 100%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: cover;
    height: 40vh;
    width: 100%;
}

#geisel-image {
    height: auto;
    display: block;
    width: 100%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: cover;
    width: 100%;
    height: 40vh;
}

#me {
    color: white;
    text-align: center;
    padding: 10vh;
    font-size: 1.5rem;
}

#about-me {
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1.1rem;
    padding-bottom: 10vh
}

#about-me p {
    transform: translateY(15px);
}

#portrait {
    height: auto;
    width: 100%;
    border-radius: 10px;
}

#projects {
    background: linear-gradient(to bottom, #041421, #4c7273, #d0d6d6);
    /* background: linear-gradient(to bottom, black, #40209B, white);  */
    border-radius: 30px;
}

#projects-title {
    background: linear-gradient(rgb(90,91,102), rgb(255,254,254));
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 1.5rem;
    padding: 10vh;
}

#projects-images {
    text-align: center;
}

#projects-images img {
    height: auto;
    width: 60%;
    border-radius: 30px;
    margin-bottom: 5vh;
}


@media screen and (max-width: 900px) {
    .about-boxes {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding-left: 0%;
        padding-right: 0%;
        gap: 5vw;
    }

    .first-body {
        height: 153vh;
    }
}

@media screen and (max-width: 800px) {
    #about-me {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    #projects-images img {
        height: auto;
        width: 90%;
        margin-bottom: 5vh;
    }
}